@model Project_Personel_Demo.Models.TblSkill
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yetenek Ekleme Sayfası</h2>

<form method="post">
    <label>Yetenek Başlığı</label>
    @Html.TextBoxFor(x => x.SkillTitle, new { @class = "form-control" })
    <br />
    <label>Yetenek Değeri</label>
    @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Ekle</button>
    <a class="btn btn-primary" style="background-color: blueviolet;border-color: blueviolet" href="/Skill/Index/">Geri</a>
</form>