
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>CodePen - Ghost Page | 404 </title>
    <link rel="stylesheet" href="~/Templates/ghost-page-404/dist/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box">
    <div class="box__ghost">
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
    
        <div class="box__ghost-container">
            <div class="box__ghost-eyes">
                <div class="box__eye-left"></div>
                <div class="box__eye-right"></div>
            </div>
            <div class="box__ghost-bottom">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="box__ghost-shadow"></div>
        <br/>
        <label>Fazla kurcalama bak gözlerimle izliyorum seni</label>
    </div>
  
    <div class="box__description">
        <div class="box__description-container">
            <div class="box__description-title">Dur Bekle Birader!</div>
            <div class="box__description-text">Aboo sen ban yemişsin. Hadi sana @ViewBag.banTimeDay gün @ViewBag.banTimeHour saatlik geçmiş olsun</div>
        </div>
    
        <a href="/Member/Login/Index/" target="_blank" class="box__button">Yallah ana sayfaya</a>
    
    </div>
  
</div>
<!-- partial -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="~/Templates/ghost-page-404/dist/script.js"></script>

</body>
</html>
